$primary: #111;
$link: rgb(90, 162, 146);
$error: rgb(215, 65, 65);

// Для кнопок
$primary: #5fa391;
$primary-hover: #548f80;
$primary-active: #4b7f72;

$secondary: #dfe7ee;
$secondary-hover: #d4dde5;
$secondary-active: #c7d1da;

$outline-border: #c9d4de;
$outline-hover: #f3f6f9;

$text-dark: #334155;
$text-light: #ffffff;

//Константы для контейнера
$container-max-width: 1280px;

$container-padding-mobile: 16px;
$container-padding-tablet: 24px;
$container-padding-desktop: 32px;

$header-height: 72px;