$primary: #111;
$link: rgb(90, 162, 146);
$error: rgb(215, 65, 65);

// Для кнопок
$primary: #5fa391;
$primary-hover: #548f80;
$primary-active: #4b7f72;

$secondary: #dfe7ee;
$secondary-hover: #d4dde5;
$secondary-active: #c7d1da;

$danger: #9f2f33;
$danger-hover: #8f2a2d;
$danger-active: #7f2528;

$dark: #344556;
$dark-hover: #2c3a49;
$dark-active: #25313d;

$success: #5fae9a;
$success-hover: #539c8a;
$success-active: #498b7b;

$outline-border: #c9d4de;
$outline-hover: #f3f6f9;

$text-dark: #334155;
$text-light: #ffffff;

//Константы для контейнера
$container-max-width: 1280px;

$container-padding-mobile: 16px;
$container-padding-tablet: 24px;
$container-padding-desktop: 32px;

$header-height: 72px;